<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h2 class="section-headline"><span>Home</span></h2>
		</div>
		<div class="col-sm-4">
			<img src="../../../assets/image/logo.png" class="img-fluid" alt="Responsive image right" style="width:400px; z-index:1;" />
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/image/wood.png" class="img-fluid" alt="Responsive image right" style="position: absolute; margin-top: 90px; z-index: -1;" />
	</div>

	<hr style="position: absolute; width:85%; height:6px; background-color: #333; z-index:-1; margin-top: -170px;" />
	<hr/>

	<div class="row">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="col-xs-4">
			<div class="card" style="width: 20rem;">
				<div class="card-block">
					<a class="pointer" routerLink="/bookList">
						<img src="../../../assets/image/bestseller.png" class="img-responsive" class="card-img-top" alt="Card image cap"/>
					</a>
				</div>
			</div>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="col-xs-4">
			<div class="card" style="width: 20rem;">
				<div class="card-block">
					<a class="pointer" routerLink="/hours">
						<img src="../../../assets/image/hours.png" class="img-responsive"  class="card-img-top" alt="Card image cap"/>
					</a>
				</div>
			</div>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="col-xs-4">
			<div class="card" style="width: 20rem;">
				<div class="card-block">
					<a class="pointer" routerLink="/faq">
						<img src="../../../assets/image/faq.png" class="img-responsive" class="card-img-top" alt="Card image cap"/>
					</a>
				</div>
			</div>
		</div>
	</div>
	<br/>

	<div>
		<div class="home-headline"><span>Featured Books</span></div>
		<hr style="margin-top: -15px;" />
	</div>
	<br/>
	<img class="img-fluid" alt="Responsive image" src="../../../assets/image/shelf.png" style="margin-top: -5px; z-index:-1;" />

	<div class="row" style="margin-left: 60px; margin-top:-190px; margin-bottom:50px; width:90%;">
		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image" style="width: 85%;" src="../../../assets/image/0201354934.jpg" />
		</div>
		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image" style="width: 85%;" src="../../../assets/image/0735709971.jpg" />
		</div>
		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image" style="width: 88%;" src="../../../assets/image/0761530169.jpg" />
		</div>
		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image" style="width: 83%;" src="../../../assets/image/1565924347.jpg" />
		</div>
		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image" style="width: 93%;" src="../../../assets/image/1884133193.gif" />
		</div>
		<div class="col-sm-2">
			<img class="img-fluid" alt="Responsive image" style="width: 86%;" src="../../../assets/image/1884777996.jpg" />
		</div>
		
	</div>
</div>